<h1>New Giftee Form</h1>
<p>
    {{ giftee | json }}
</p>
<form #f="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="user">User</label>
        <select id="user" class="form-control" (change)="onUserChange()" [(ngModel)]="user" name="user" required #selectedUser="ngModel">
            <option value=""></option>
            <option *ngFor="let user of users" value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="selectedUser.touched && !selectedUser.valid" name="selectedUserAlert">Please select a user.</div>
        <label for="giftee">User's Giftees</label>

        <ul class="list-group">
            <li *ngFor="let giftee of giftees" class="list-group-item">
                <span class="badge badge-primary badge-pill">{{giftee.id}}</span><span class="badge">{{ giftee.email }}</span>Name: <strong>{{ giftee.firstName }} {{ giftee.lastName }}</strong> Nickname: <strong>{{ giftee.nickName }}</strong>
            </li>
            <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let giftee of giftees">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><strong>{{ giftee.firstName }} {{ giftee.lastName }}</strong></h5>
                    <small class="small" id="nickName">Nickname: {{ giftee.nickName }}</small>
                    <p>  </p>
                    <small>Email: {{ giftee.email }}</small>
                    <span class="badge badge-primary badge-pill pull-right">{{giftee.id}}</span>
                </div>
            </a>-->
        </ul>
    </div>
    <h2>Add New Giftee</h2>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" value="" class="form-control" [(ngModel)]="giftee.firstName" name="firstName" required #firstName="ngModel"/>
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid" name="firstNameAlert">Please enter a name.</div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" value="" class="form-control" [(ngModel)]="giftee.lastName" name="lastName" required #lastName="ngModel" />
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid" name="lastNameAlert">Please enter a name.</div>
    </div>
    <div class="form-group">
        <label for="nicknamme">Nickname</label>
        <input id="nicknamme" type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="gifteeEmail">Email</label>
        <input id="gifteeEmail" type="text" value="" class="form-control" [(ngModel)]="giftee.email" name="gifteeEmail" required #gifteeEmail="ngModel" />
        <div class="alert alert-danger" *ngIf="gifteeEmail.touched && !gifteeEmail.valid" name="gifteeEmailAlert">Please enter an email.</div>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>